<!-- start: Contact Section -->
<section class="tj-contact-section" data-bg-image="assets/images/shapes/contact-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-wrapper">
                    <div class="contact-left-content">
                        <div class="sec-heading style-2">
                            <span class="sub-title wow fadeInUp" data-wow-delay="0.1s">Connect With Us</span>
                            <h2 class="sec-title text-anim">Start Your Study Abroad Journey Today</h2>
                            <div class="desc wow fadeInUp" data-wow-delay="0.3s">
                                <p>We're here to guide you every step of the way on your international education
                                    journey. Whether you need help with visa applications, university selection,
                                    or test preparation, our experienced team is ready to assist you. Reach out
                                    to us today and let's make your study abroad dreams a reality.</p>
                            </div>
                            <div class="contact-button wow fadeInUp" data-wow-delay="0.5s">
                                <a href="contact.html" class="tj-primary-btn white-btn">
                                    <div class="btn_inner">
                                        <div class="btn_icon">
                                            <span>
                                                <i class="tji-arrow-right"></i>
                                                <i class="tji-arrow-right"></i>
                                            </span>
                                        </div>
                                        <div class="btn_text">
                                            <span>Contact us</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-one wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="title">Get in Touch - We're Here to Help</h3>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-input">
                                        <input type="text" id="first" name="name" placeholder="Full name*"
                                            required="" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-input">
                                        <input type="email" id="emailOne" name="email" placeholder="Email address*"
                                            required="" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-input">
                                        <input type="tel" id="tel" name="tel" placeholder="Phone number*" required="" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-input">
                                        <div class="tj-nice-select-box">
                                            <div class="tj-select">
                                                <select class="nice-select">
                                                    <option>Choose a service</option>
                                                    <option value="bluecollar">Blue Collar</option>
                                                    <option value="student-visa">Student Visa</option>
                                                    <option value="training">Training</option>
                                                    <option value="software-solutions">Software Solutions</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-input input-textarea">
                                        <textarea id="message" name="message" placeholder="Type message"></textarea>
                                    </div>
                                </div>
                                <div class="submit-button">
                                    <button type="submit" class="tj-primary-btn white-btn">
                                        <span class="btn_inner">
                                            <span class="btn_icon">
                                                <span>
                                                    <i class="tji-arrow-right"></i>
                                                    <i class="tji-arrow-right"></i>
                                                </span>
                                            </span>
                                            <span class="btn_text">
                                                <span>Send message</span>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Contact Section -->