<!-- start: Footer Area -->
<footer class="tj-footer-area h5-footer">
    <div class="footer-top-area fix">
        <div class="container">
            <div class="row rg-50 line">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/images/logos/techservice.png" alt="Tech Service Logo">
                            </a>
                        </div>
                        <p class="desc">
                            Our mission is to empowers businesses off our all size too thrive in an businesses ever
                            changing
                            marketplaces.
                        </p>
                        <div class="footer-social">
                            <h5 class="title">Follow Us:</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/swasthavrittitechservices/"><i
                                            class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/swasthavritti_tech_services"><i
                                            class="fa-brands fa-instagram"></i></a>
                                </li>

                                <li><a href="https://www.linkedin.com/company/swasthavritti-tech-services-pvt-ltd/"><i
                                            class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget widget_nav_menu">
                        <div class="footer-title">
                            <h4 class="title">Helpful Links</h4>
                        </div>
                        <div class="widget-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget widget_nav_menu">
                        <div class="footer-title">
                            <h4 class="title">Services</h4>
                        </div>
                        <div class="widget-menu">
                            <ul>
                                <li><a href="bluecollar.html">Blue Collar</a></li>
                                <li><a href="student-visa.html">Student Visa</a></li>
                                <li><a href="training.html">Training</a></li>
                                <li><a href="software-solutions.html">Software Solutions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget footer1-col-4 footer-newsletter-form">
                        <div class="footer-logo footer-logo-right-col">
                            <a href="index.html">
                                <img src="assets/images/logos/swasgroup_transparentbg.png" alt="Swas Group Logo">
                            </a>
                        </div>
                        <div class="newsletter-title">
                            <h3 class="title">Subscribe to our newsletter</h3>
                        </div>
                        <div class="newsletter-form">
                            <form>
                                <div class="form-input">
                                    <input type="email" id="email" name="email" placeholder="Enter email" required="">
                                    <button class="tj-footer-input-btn"><i class="fa-solid fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h5-footer-shape wow fadeInLeft" data-wow-delay=".4s">
            <img src="assets/images/shapes/h5-hero-shape-2.png" alt="shape">
        </div>
    </div>
    <div class="h5-footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-content-area">
                        <div class="copyright-text">
                            <p> Empowering careers, enabling dreams, delivering solutions
                            </p>
                        </div>
                        <div class="copyright-text">
                            <p>© 2025 <a href="#" target="_blank"> Swasthavritti Tech Services pvt ltd.</a> All
                                rights reserved.</p>
                        </div>
                        <div class="copyright-menu">
                            <ul>
                                <li><a href="contact.html">Policy & privacy</a></li>
                                <li><a href="contact.html">Terms & conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- back to top -->
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn style-5">
            <i class="tji-arrow-up"></i>
            <span>GO TOP</span>
        </button>
    </div>
</footer>
<!-- end: Footer Area -->