<!-- start: Hamburger Menu -->
<div class="body-overlay"></div>
<div class="hamburger-area" data-lenis-prevent>
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
            <div class="hamburger_logo">
                <a href="index.html" class="mobile_logo">
                    <img src="assets/images/logos/techservice.png" alt="Logo" />
                </a>
            </div>
            <div class="hamburger_close">
                <button class="hamburger_close_btn hamburgerCloseBtn"><i class="fa-thin fa-times"></i></button>
            </div>
        </div>
        <div class="hamburger_menu">
            <div class="mobile_menu"></div>
        </div>

        <div class="hamburger-infos">
            <h4 class="hamburger-title">Contact info</h4>
            <div class="contact-info">
                <div class="contact_item">
                    <span class="subtitle">Email</span>
                    <div class="text"><a class="link" href="mailto:info@swasgroup.in">info@swasgroup.in</a>
                    </div>
                </div>
                <div class="contact_item">
                    <span class="subtitle">Phone</span>
                    <div class="text"><a class="link" href="tel:9010000700">90100 00700</a></div>
                </div>
                <div class="contact_item">
                    <span class="subtitle">Location</span>
                    <div class="text">408, 4th floor, Jain Friend Square Mall, Suchitra circle, Hyderabad-67, Telangana,
                        India.</div>
                </div>
            </div>
        </div>
        <div class="hamburger-socials">
            <h4 class="hamburger-title">Follow us</h4>
            <ul>
                <li>
                    <a href="https://www.facebook.com/swasthavrittitechservices/"><i
                            class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/swasthavritti_tech_services"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/swasthavritti-tech-services-pvt-ltd/"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end: Hamburger Menu -->

<!-- start: Header Area -->
<header class="tj-header-area header-5 header-absolute">
    <div class="header-topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header-topbar_wrap">

                        <div class="topbar_note">
                            Empowering careers, enabling dreams, delivering solutions
                            <a href="contact.html"><span>contact us</span><i class="tji-angle-right"></i></a>
                        </div>

                        <div class="topbar_infos">
                            <div class="info_item">
                                <span><i class="tji-clock"></i></span>
                                <span>Mon - Friday : 11:00 AM - 05:00 PM</span>
                            </div>
                            <div class="info_item">
                                <span><i class="tji-email"></i></span>
                                <a href="mailto:info@swasgroup.in">info@swasgroup.in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header-wrapper">

                        <!-- logo -->
                        <div class="site-logo">
                            <a class="logo" href="index.html">
                                <img src="assets/images/logos/techservice.png" alt="logo">
                            </a>
                        </div>

                        <!-- main navigation -->
                        <div class="mainmenu d-lg-block d-none" id="main-menu">
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu  mega-menu-service">
                                        <li> <a class="mega-menu-service-single" href="bluecollar.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-optimization"></i>
                                                </span> <span class="mega-menu-service-title">Blue Collar</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="student-visa.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-strategic"></i>
                                                </span> <span class="mega-menu-service-title">Student Visa</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="training.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-leadership"></i>
                                                </span> <span class="mega-menu-service-title">Training</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="software-solutions.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-business"></i>
                                                </span> <span class="mega-menu-service-title">Software Solutions</span>
                                                <span class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>

                        <div class="header_right_info d-none d-md-inline-flex">
                            <!-- search btn -->


                            <!-- secondary logo -->
                            <a href="https://swasgroup.in/" class="header-secondary-logo">
                                <img src="assets/images/logos/swasgroup_transparentbg.png" alt="Swas Group Logo">
                            </a>
                        </div>

                        <!-- menu bar -->
                        <button class="menu_btn d-lg-none hamburgerBtn">
                            <span class="cubes">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="tj-header-area header-1 header-duplicate header-sticky">
    <div class="header-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header-wrapper">

                        <!-- logo -->
                        <div class="site-logo">
                            <a class="logo" href="index.html">
                                <img src="assets/images/logos/techservice.png" alt="logo">
                            </a>
                        </div>

                        <!-- main navigation -->
                        <div class="mainmenu d-lg-block d-none" id="main-menu">
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu  mega-menu-service">
                                        <li> <a class="mega-menu-service-single" href="bluecollar.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-optimization"></i>
                                                </span> <span class="mega-menu-service-title">Blue Collar</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="student-visa.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-strategic"></i>
                                                </span> <span class="mega-menu-service-title">Student Visa</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="training.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-leadership"></i>
                                                </span> <span class="mega-menu-service-title">Training</span> <span
                                                    class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>
                                        <li> <a class="mega-menu-service-single" href="software-solutions.html"> <span
                                                    class="mega-menu-service-icon">
                                                    <i class="tji-business"></i>
                                                </span> <span class="mega-menu-service-title">Software Solutions</span>
                                                <span class="mega-menu-service-nav"><i class="tji-arrow-right"></i><i
                                                        class="tji-arrow-right"></i></span></a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>

                        <div class="header_right_info d-none d-md-inline-flex">
                            <!-- search btn -->


                            <!-- secondary logo -->
                            <a href="https://swasgroup.in/" class="header-secondary-logo">
                                <img src="assets/images/logos/swasgroup_transparentbg.png" alt="Swas Group Logo">
                            </a>
                        </div>

                        <!-- menu bar -->
                        <button class="menu_btn d-lg-none hamburgerBtn">
                            Menu
                            <span class="cubes">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end: Header Area -->