<div class="tj-sidebar-widget wow fadeInUp" data-wow-delay="0.1s">
    <h5 class="tj-sidebar-widget-title">Related service</h5>
    <div class="service-category">
        <ul>
            <li><a href="bluecollar.html">Blue Collar<i class="tji-angle-right"></i></a></li>
            <li><a href="student-visa.html">Student Visa<i class="tji-angle-right"></i></a></li>
            <li><a href="training.html">Training<i class="tji-angle-right"></i></a></li>
            <li><a href="software-solutions.html">Software Solutions<i class="tji-angle-right"></i></a></li>
        </ul>
    </div>
</div>