<div class="tj-sidebar-widget wow fadeInUp" data-wow-delay="0.1s">
    <div class="tj-sidebar-cta">
        <div class="content">

            <h3>Need help? <br> Feel free contact us</h3>
            <p>
                Our mission is to empower businesses with innovative solutions and strategic insights, fostering growth
                and resilience in a dynamic global marketplace.
            </p>
        </div>
        <div class="cta-btn">
            <a href="contact.html" class="tj-primary-btn white-btn">
                <div class="btn_inner">
                    <div class="btn_icon">
                        <span>
                            <i class="tji-arrow-right"></i>
                            <i class="tji-arrow-right"></i>
                        </span>
                    </div>
                    <div class="btn_text"><span>Get in touch</span></div>
                </div>
            </a>
            <!-- <img class="shapes move-anim-2" src="assets/images/shapes/carrow.png" alt="shape"> -->
        </div>
    </div>
</div>