<!-- start: Testimonial Section -->
<section class="tj-testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading">
                    <div class="sec-text">
                        <span class="sub-title wow fadeInUp" data-wow-delay="0.1s">Testimonials</span>
                        <h2 class="sec-title text-anim">Voices of Our Achievers</h2>
                    </div>
                    <div class="swiper_navigations testimonial-navigation d-none d-md-inline-flex">
                        <div class="navigation slider-prev"><i class="tji-arrow-left"></i></div>
                        <div class="navigation slider-next"><i class="tji-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider-wrapper">
                    <div class="swiper swiper-container tj-testimonial-slider">
                        <div class="swiper-wrapper rightSwipeWrap">
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>It's an excellent consultancy . The staff over there are very
                                                amiably with the students and gives updates regarding next
                                                process timely. It's very beneficial and profitable whoever
                                                enrol with this consultancy. I'm so obliged as I'm associated
                                                with them as a student.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a/ACg8ocLWPHtpUuLkjF8-K9vfthv_toQ4O4tGM1LaOdFfEXurBTD45ROU=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Vijaya Bharathi</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>Very good consultancy, staff has a very friendly approach and
                                                explains all process.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a/ACg8ocJbE5SBDBu--eJqwT4ACiJfzFfhOFrAtKmcGMXByeA4OQUanw=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Esther Priyadarshini Pariki</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>Best online training provider in suchitra.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjWELDAwsdjzl3kbCH1JFLH8qNd2dU00DrONDyBm7gS_7yfdVljq=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Sandhya Singamsetty</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>Good place to learn new things.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a/ACg8ocIkNZwXes-DF-dWokIG3PV64tofWmqjGAaMn7HN2BYbDyLXMw=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Anuradha Arramoni</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>Best place for career guidance and support.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjU8vQuS4kQgDsvkeJPrYm2SlV9OX5JOzsKLx3jzjmKPouNTLJOz=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Sushanth G</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide right-swipe">
                                <div class="testimonial-item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-quote">
                                            <i class="tji-right-quote"></i>
                                        </div>
                                        <div class="desc">
                                            <p>Good place to learn and gain professional skills.</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-author">
                                        <div class="author-images">
                                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjWi6yMV7O0P_Bv5DW_sEUsf-H6GM0L4F2gc9U9ReBePLVX3SZc6=s64-c-rp-mo-br100"
                                                alt="Images">
                                        </div>
                                        <div class="author-content">
                                            <div class="author-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 100%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author-text">
                                                <h4 class="author-name">Kirthi Reddy</h4>
                                                <span class="sub-title">Student</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper_pagination testimonial-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Testimonial Section -->